$light-color: #ece4e4;
$dark-color: rgb(31, 36, 40);
$font-family: 'Noto Sans JP', sans-serif;
$transition-background: linear-gradient(135deg, #aa3bb1, #582a7e);
$bg-mountain: url("/img/buhler-mountain.jpg");
$bg-sky: url("/img/henry-sky.jpg");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $dark-color;
}