@import "config";

body {
    background-color: rgb(240, 240, 240);
    font-family: $font-family;
}

.video-header {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    text-align: center;
    color: #ffff;

    .video-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: #3a4052 url("/img/cover.jpg") no-repeat center center/cover;

        video {
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }

    .video-container:after {
        content: '';
        z-index: 4;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
    }

    .video-overlay {
        z-index: 4;

        h1 {
            font-weight: 300;
            font-size: 60px;
            line-height: 1.2;
            margin-bottom: 16px;
        }

        a {
            display: inline-block;
            color: #ffff;
            padding: 6px 24px;
            border: 1px solid $dark-color;
            border-radius: 12px;
            background: rgba($color: $dark-color, $alpha: 0.7);
            cursor: pointer;

            &:hover {
                transform: scale(0.98);
            }
            
        }
    }
}

.lorem-ipsum {
    font-weight: 300;
    font-size: 1.1rem;
    width: 90%;
    margin: 32px auto;

    .quote {
        margin: 1em;
        padding: 1em;
        border-radius: 1em;
        background-color: rgb(240, 240, 240);
        font-size: inherit;
        font-style: italic;
    }
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin: 54px 120px;

    .card{
        display: flex;
        flex-direction: column;
        min-height: 360px;
        background-color: #ffff;
        border-radius: 8px;
        box-shadow: 0 2px 20px rgba($color: $dark-color, $alpha: 0.3);
        overflow: hidden;

        &:hover {
            transform: scale(0.97);
        }

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        p {
            font-size: 13px;
            color: $dark-color;
            margin: 12px 16px;
            text-align: justify;
        }

        small {
            font-size: 11px;
            font-style: italic;
            color: #888785;
            text-transform: lowercase;
            text-align: center;
            margin-top: auto;
            padding: 8px;
            background-color: rgb(240, 240, 240);
        }
    }
}

.transition {
    border-right: 0.75px #7777 solid;
    font-family: $font-family;
    font-size: 12px;
    width: 75vw;
    margin: 72px auto;

    &:hover div{
        width: 75vw;
    }

    .from-left {
        background: $transition-background;
        width: 100px;
        padding: 6px;
        margin: 8px 2px;
        border-radius: 8px;
        color: $light-color;
        text-align: right;
        transition: 9s ease-in;
    }

}

.sky {
    background-image: $bg-sky;
    color: #ffff
}

.mountain {
    background-image: $bg-mountain;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 90vw;
    margin: 32px auto;
    
    div {
        height: 200px;
        border-radius: 3px;
        overflow: hidden;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;

    
        .abc {
            font-size: 24px;
        }

        .fa-play-circle {
            transform: rotate(270deg);
        }
    }

    div:hover {
        transform: scale(1.15);
    }

    div:nth-of-type(1) {
        grid-column: 1 / 3;
    }

    div:nth-of-type(5) {
        grid-column: 2 / 4;
    }

    div:nth-of-type(9) {
        grid-column: 3 / 5;
    }

    div:nth-of-type(10) {
        grid-column: 1 / 3;
    }
}

.img-credits {
    margin-bottom: 32px;
    text-align: center;
    size: 90vw;
    margin: 32px auto;

    span {
        // border: 1px solid $dark-color;
        border-radius: 20px;
        padding: 3px 8px;
        margin: auto 10px;
        background-color: #ffff;
        box-shadow: 0 2px 12px rgba($color: $dark-color, $alpha: 0.3);
        font-style: italic;
    }
}

.playground {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;

    h1 {
        font-weight: 300;
        margin: 12px auto;
    }

    .tic-tac-toe {
        h2 {
            margin-bottom: 0;
        }

        .game-container {
            border: 1px solid $dark-color;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 300px;
            margin: 10px auto;
    
            .cell {
                border: 1px solid $dark-color;
                font-family: $font-family, sans-serif, cursive;
                width: 100px;
                height: 100px;
                box-shadow: 0 2px 10px rgba($color: $dark-color, $alpha: 0.3);
                cursor: pointer;
                line-height: 100px;
                font-size: 60px;
                
            }
        }
    }

    .number-inc-dec {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 2em;

        h1 {
            margin: 0px auto;
            font-size: 36px;
        }
        
        span {
            margin: 4px 0;
            cursor: pointer;
        }

        small {
            font-size: 10px;
        }
    }

    .fa-undo {
        font-size: 24px;
        cursor: pointer;
        margin: 12px auto;
    }

}

.about {
    text-align: center;

    h3 {
        padding: 20px;
        font-size: 1.5rem;
    }

    p {
        // font-size: 1.5rem;
        font-weight: 300;
        width: 75%;
        margin: auto;
    }

}

.more {
    text-align: center;
    margin-top: 2rem;
    color: $dark-color;

    span {
        font-weight: 250;
    }
    .button {
        font-size: 2.5rem;
        margin-bottom: 20px;
        
        i:hover {
            transform: scale(1.1);
        }
        
    } 
}
